.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
*.DS_Store
*.RDataTmp
Data

# Documents that contain APA full text articles
Sample_selection/PsycArticles
Sample_selection/processed_articles
Sample_selection/*.csv
Sample_selection/classifier 
*.xml
# contains output from llm classifier

# Analysis plan documents to ignore
Analyses/agreement.R

# Other
vda_reliability